* {
  margin:0;
  padding:0;
}

#titulo-principal {
  color: #4e7b84;
  text-align: left;
}

body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.navegador {
  background-image: linear-gradient(to right, aquamarine, blue);
  color: black;
  font-size: 20px;
  width: 100%; 
  display: inline-block; 
  padding: 14px 16px;;
  margin-top: 1px;
  box-sizing: border-box;
  text-align: left;

}

.box-img {
  border: 1px ;
  width: 100%; 
  box-sizing: border-box;
  text-align: left;
  background-image: linear-gradient(to right, white, aquamarine);
  position: relative;
  top: auto;
  
}

h1 {
  display: inline-block;
  box-sizing:border-box;
  text-align: center;
}

h2 {
  margin: 30px;
  text-align: center;
  }

td {
  text-align: center;
  top: initial;
  font-size: 15px;
}

.box {
  border: 4px;
  width: 50%; 
  display: inline-block; 
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 8px;
  box-sizing: border-box;
}

.button {
  background-color: cornflowerblue;
  border-color: black;
  font-size: medium;  
  border-radius: 8px;
  padding: 4px;
}

.footer {
  border: 1px ;
  width: 100%; 
  box-sizing: border-box;
  text-align: left;
  background-image: linear-gradient(to right, pink, aquamarine);
  position: fixed;
  bottom: 0;
  left: 0%;
}

table {
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: white;
}

div {
    margin: auto;
    width: 100%;
    text-align: center;
}

th {
    background-color: cornflowerblue;
}

tr:nth-of-type(2n+1) {
    background-color: aquamarine;
}